@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Raleway:wght@300&family=Rampart+One&display=swap');

.title {
  position: relative;
  display: inline-block;
  font-size: 35px;
  padding-bottom: 5px;
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: 1;
  margin-top: calc(35vh - 64px);
  font-family: 'Raleway', sans-serif;
}

.title::after {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  content: '';
  animation-name: underline;
  animation-duration: 3s;
  animation-delay: 0s;
  transition-duration: 3s;
  border-bottom: 3px solid rgba(148, 131, 131, 0.664);
  transform: scale(0.8, 1);
}

.content {
  font-size: 15px;
  margin-left: 25vw;
  margin-right: 25vw;
  max-width: 50%;
  text-align: center;
  align-items: center;
  font-family: 'M PLUS 1p', sans-serif;
  animation: fade2;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes underline {
  0% {
    border-bottom: 3px solid rgba(148, 131, 131, 0.664);
    transform: scale(0, 1);
  }
  30% {
    border-bottom: 3px solid rgba(148, 131, 131, 0.664);
    transform: scale(0, 1);
  }
  100% {
    border-bottom: 3px solid rgba(148, 131, 131, 0.664);
    transform: scale(0.8, 1);
  }
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 45vh;
}

/* .title::before{
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -5px;
    left: -2px;
    content: '';
    animation-name: underline2;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    border-bottom: 3px solid #eaeff1;
    transform: translate(-100%, 0), scale(1.05, 1);
  } */

p {
  margin-top: 20px;
}

@keyframes underline2 {
  0% {
    border-bottom: 3px solid #eaeff1;
    transform: scale(1.1, 1);
    transform: translate(-100%, 0);
  }
  30% {
    border-bottom: 3px solid #eaeff1;
    transform: scale(1.1, 1);
    transform: translate(0%, 0);
  }
  60% {
    border-bottom: 3px solid #eaeff1;
    transform: scale(1.1, 1);
    transform: translate(0%, 0);
  }
  90% {
    border-bottom: 3px solid #eaeff1;
    transform: scale(1.1, 1);
    transform: translate(-100%, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next {
  position: absolute;
  bottom: 15%;
  left: calc(50% - 15px);
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid rgba(53, 48, 48, 0.805);
  border-left: 2px solid rgba(53, 48, 48, 0.805);
  animation: nextArrow 3000ms infinite;
}

@keyframes nextArrow {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(-45deg);
  }

  50% {
    opacity: 0;
    transform: translateY(10px) scale(1) rotate(-45deg);
  }

  51% {
    opacity: 0;
    transform: translateY(-10px) scale(0.8) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(-45deg);
  }
}

.ready {
  opacity: 0;
}

@media (min-width: 800px) {
  .title {
    font-size: 50px;
  }

  .content {
    font-size: 20px;
  }

  .title::after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -5px;
    left: -2px;
    content: '';
    animation-name: underline;
    animation-duration: 3s;
    animation-delay: 0s;
    transition-duration: 3s;
    border-bottom: 3px solid rgba(148, 131, 131, 0.664);
    transform: scale(1.05, 1);
  }

  @keyframes underline {
    0% {
      border-bottom: 3px solid rgba(148, 131, 131, 0.664);
      transform: scale(0, 1);
    }
    30% {
      border-bottom: 3px solid rgba(148, 131, 131, 0.664);
      transform: scale(0, 1);
    }
    100% {
      border-bottom: 3px solid rgba(148, 131, 131, 0.664);
      transform: scale(1.05, 1);
    }
  }
}
