.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.thirofoo_home{
  animation-name: move;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 20s;
  transform: translate(-100%,0);
}

@keyframes move {
  0%{
    transform: translate(-100%,0);
  }
  20%{
    transform: translate(0,0);
  }
  80%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(100%,0);
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  backdrop-filter: blur(20px);
}

.App-link {
  color: #e9dedcbb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
