@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

.App {
  text-align: center;
}

.root::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.thirofoo_home{
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-delay: 4s;
  transform: translate(-100%,0);
  font-family: 'Glory', sans-serif;
  overflow: hidden;
}

.home{
  font-family: 'Glory', sans-serif;
}

@keyframes move {
  0%{
    transform: translate(-100%,0);
  }
  10%{
    transform: translate(0,0);
  }
  92%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(100%,0);
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  backdrop-filter: blur(20px);
}

.App-link {
  color: #ffffff00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root{
    text-align: center;
    background-image: url(./img/back.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    background-repeat: repeat;
    background-attachment: fixed;
}
